<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小说类别介绍句子</title>
</head>
<body>
<div th:fragment="xuanhuan">
    <h1 class="display-4">玄幻</h1>
    <br>
    <p class="lead">千重劫，百世难，亘古匆匆，弹指间。
        <br>不死躯，不灭魂，震古烁今，无人敌！
        <br>待到逆乱阴阳时，以我魔血染青天！</p>
    <p>——辰东《神墓》</p>
    <hr class="my-4">
</div>

<div th:fragment="xianxia">
    <h1 class="display-4">仙侠</h1>
    <br>
    <p class="lead">一念成沧海，一念化桑田。一念斩千魔，一念诛万仙。
        <br>唯我念……永恒
        </p>
    <p>——耳根《一念永恒》</p>
    <hr class="my-4">
</div>

<div th:fragment="dushi">
    <h1 class="display-4">都市</h1>
    <br>
    <p class="lead">时光是一艘航船，有人喜欢把90年代初的那几年，
        <br>视为曾经那个纯真年代的最后一程。
    </p>
    <p>——人间武库《逆流纯真年代》</p>
    <hr class="my-4">
</div>

<div th:fragment="xuanyi">
    <h1 class="display-4">悬疑</h1>
    <br>
    <p class="lead">无数梦魇深处的幽魂鬼魅，将无处不在，索取你的性命。
        <br>即使能够活下来，回到公寓，也要面临着下一次，墙壁出现血字的时刻。
        <br>而可以离开这座公寓的方法，只有一个……
    </p>
    <p>——黑色火种《地狱公寓》</p>
    <hr class="my-4">
</div>

<div th:fragment="kehuan">
    <h1 class="display-4">科幻</h1>
    <br>
    <p class="lead">诸界的末日降临，
        　　<br>魔王的秩序收割着众生性命，
        　　<br>在绝望的黑暗之中，
        　　<br>有一人挣脱时空的束缚，
        　　<br>回到世界崩毁之前，
        　　<br>决心要改变自己的命运，
        　　<br>但是，
        　　<br>随着时间的推移，他发现末日并不是那么简单……
    </p>
    <p>——烟火成城《诸界末日在线》</p>
    <hr class="my-4">
</div>

<div th:fragment="qihuan">
    <h1 class="display-4">奇幻</h1>
    <br>
    <p class="lead">“王者不以血脉为尊，血脉却因王者而荣。”
        <br>黑暗洗涤光明，烈火锻造真钢，禁忌王子的故事由此开始。
    </p>
    <p>——无主之剑《王国血脉》</p>
    <hr class="my-4">
</div>

<div th:fragment="erciyuan">
    <h1 class="display-4">二次元</h1>
    <br>
    <p class="lead">在这有着二次元元素的新世界，
        <br>他只想要好好地活下去，迎向光辉灿烂的未来……
        <br>不过首先，还是先减减肥吧。
    </p>
    <p>——咸鱼上岸《当废柴得到系统》</p>
    <hr class="my-4">
</div>

<div th:fragment="wuxia">
    <h1 class="display-4">武侠</h1>
    <br>
    <p class="lead">重生一世，楚休究竟是重走一遍命中注定的反派之路，
        <br>还是踏着如山白骨谱写一段魔焰滔天的江湖传说？
    </p>
    <p>——封七月《重生之魔教教主》</p>
    <hr class="my-4">
</div>

<div th:fragment="lishi">
    <h1 class="display-4">历史</h1>
    <br>
    <p class="lead">弘治十一年。
        　　<br>这是一个美好的清晨。
        　　<br>此时朱厚照初成年。
        　　<br>此时王守仁和唐伯虎磨刀霍霍，预备科举。
        　　<br>此时小冰河期已经来临，绵长的严寒肆虐着大地。
        　　<br>此时在南和伯府里，地主家的傻儿子，
        <br>南和伯的嫡传继承人方继藩……
        <br>开始了他没羞没躁的败家人生。
    </p>
    <p>——上山打老虎额《明朝败家子》</p>
    <hr class="my-4">
</div>

<div th:fragment="junshi">
    <h1 class="display-4">军事</h1>
    <br>
    <p class="lead">一个平凡普通的公务员，机缘巧合回到了民国二十五年，
        <br>被迫加入军统，寻找地下组织，追查日本间谍，
        <br>在波澜壮阔的大时代中为祖国，
        <br>为民族的解放与复兴贡献着自己的一份力量，开始了他传奇的谍海生涯。
    </p>
    <p>——寻青藤《民国谍影》</p>
    <hr class="my-4">
</div>

<div th:fragment="youxi">
    <h1 class="display-4">游戏</h1>
    <br>
    <p class="lead">网游荣耀中被誉为教科书级别的顶尖高手，
        <br>因为种种原因遭到俱乐部的驱逐，
        <br>离开职业圈的他寄身于一家网吧成了一个小小的网管，
        <br>但是，拥有十年游戏经验的他，
        <br>在荣耀新开的第十区重新投入了游戏，带着对往昔的回忆，
        <br>和一把未完成的自制武器，开始了重返巅峰之路。
    </p>
    <p>——蝴蝶蓝《全职高手》</p>
    <hr class="my-4">
</div>

<div th:fragment="tiyu">
    <h1 class="display-4">体育</h1>
    <br>
    <p class="lead">普通的人，巨星的梦，今日轮回，明日传奇！
        　　<br>看主角如何在NBA努力的树立起一个正能量的形象，文体两开花！
    </p>
    <p>——兔来割草 《明日传奇》</p>
    <hr class="my-4">
</div>

<div th:fragment="all">
    <h1 class="display-4">全部</h1>
    <br>
    <p class="lead">冰冷与黑暗并存的宇宙深处，
        <br>九具庞大的龙尸拉着一口青铜古棺，亘古长存。
        　　<br>九龙拉棺，究竟是回到了上古，还是来到了星空的彼岸？
        　　<br>一个浩大的仙侠世界，光怪陆离，神秘无尽。热血似火山沸腾，
        　　<br>登天路，踏歌行，弹指遮天。
    </p>
    <p>——辰东 《遮天》</p>
    <hr class="my-4">
</div>

</body>
</html>