<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer" th:fragment="footer">
    <div class="container">
        <p class="mt-5 mb-3 text-muted text-center">Copyright © 2019-2019 www.xiaxinandye.cn All Rights Reserved.
            <br> 本网站仅供学习交流之用，不用作任何商业用途。
        </p>
        <div style="width:300px;margin:0 auto; padding-bottom:20px;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51011402000234" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/assets/img/gongan.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">川公网安备 51011402000234号</p></a>
        </div>
    </div>
</footer>
</body>
</html>